@model IEnumerable<PlanDesarrolloProfesional.Models.Models.PlanDesarrolloProfesionalViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Plan Desarrollo Profesional";
}


<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- DataTales Example -->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Plan De Desarrollo Profesional</h1>
    <p class="mb-4">
        Lista Planes de Desarrollo registrados en el Sistema
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Count() Registros</h6>
        </div>
        <div class="card-header py-3">
            <a href="@Url.Action("Agregar", "PlanDesarrolloProfesional", new { })" class="btn btn-primary btn-user btn-block">Agregar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tabla" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id Plan</th>
                            <th>Colaborador</th>
                            <th>Fecha Inicio del Plan</th>
                            <th>Rango</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                            <th>Cumplimientos</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-label="Id Plan">@item.PlanDesarrolloID</td>
                                    <td data-label="Colaborador">@item.NombreColaborador</td>
                                    <td data-label="Fecha Inicio">@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                                    <td data-label="Rango">@item.NombreRango</td>
                                    <td data-label="Estado">@((item.Estado == 1) ? "Finalizado" : "En Curso")</td>
                                    <td data-label="Acciones">
                                        <div class="dropdown">
                                            <a type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                                Acciones
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="@Url.Action("Modificar", "PlanDesarrolloProfesional", new { PlanDesarrolloID = item.PlanDesarrolloID })">Modificar</a>
                                                <a onclick="Eliminar(@item.PlanDesarrolloID)" href="#" class="dropdown-item" style="color:black;">Eliminar</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-label="Cumplimientos">
                                        <div class="dropdown">
                                            <a type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                                Cumplimientos
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="@Url.Action("Agregar", "CumplimientoRequisito", new { PlanDesarrolloID = item.PlanDesarrolloID })">Agregar Cumplimiento</a>
                                                <a class="dropdown-item" href="@Url.Action("Lista", "CumplimientoRequisito", new { PlanDesarrolloID = item.PlanDesarrolloID })">Lista</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    @using (Html.BeginForm("Eliminar", "PlanDesarrolloProfesional", FormMethod.Post, new { id = "EliminarPlanDesarrollo" }))
                    {
                        <input type="hidden" id="IdObjeto" name="IdObjeto" />
                        @*<input type="hidden" id="Justificacion" name="Justificacion" />*@
                    }
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/alertas.js"></script>
    <link href="~/js/datatables.net-bs5/datatables.bootstrap5.css" rel="stylesheet" />
    <script src="~/js/datatables.net-bs5/datatables.bootstrap5.js"></script>



    <script type="text/javascript">


        if ('@ViewBag.Mensaje' == "Eliminado") {
            Swal.fire({
                title: "¡Acción exitosa!",
                text: 'Se ha Eliminado',
                type: "success",
                showconfirmButton: false,
                showCancelButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Agrega") {
            Swal.fire({
                title: "¡Acción exitosa!",
                text: 'Se ha agregado un nuevo plan de desarrollo al sistema',
                type: "success",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Modifica") {
            Swal.fire({
                title: "¡Acción exitosa!",
                text: 'Se ha modificado el plan de desarrollo del sistema',
                type: "success",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Error") {
            Swal.fire({
                title: "¡Error!",
                text: 'Error al ejecutar la acción',
                type: "error",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Existe") {
            Swal.fire({
                title: "¡Error!",
                text: 'El usuario ingresado ya existe en el sistema',
                type: "error",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Incompleto") {
            Swal.fire({
                title: "¡Error!",
                text: 'Datos incompletos, asegurese de llenar todos los datos',
                type: "error",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }
        function Eliminar(PlanDesarrolloID) {

            Swal.fire({
                title: "Desea eliminar el plan?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Aquí colocas el código que se ejecutará si el usuario hace clic en "Sí, eliminar"
                    $('#IdObjeto').val(PlanDesarrolloID);
                    $("#EliminarPlanDesarrollo").submit();

                } else {
                    // Aquí colocas el código que se ejecutará si el usuario hace clic en "Cancelar" o fuera del cuadro de confirmación
                    Swal.fire("Cancelado", "El plan de desarrollo no fue eliminada.", "info");
                }
            });

        }
    </script>
}