@model IEnumerable<PlanDesarrolloProfesional.Models.Models.CumplimientoRequisitoViewModel>
@using System.Security.Claims;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Lista";

    // Obtener el ClaimsPrincipal actual
    var claimsPrincipal = Context.User as ClaimsPrincipal;

    // Obtener el valor de un claim específico
    var nameClaim = claimsPrincipal?.FindFirst(ClaimTypes.Name)?.Value;
    var roleClaim = User?.FindFirst("RolID")?.Value;
    var nameDbClaim = User?.FindFirst("NameDB")?.Value;
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lista</h1>
    <p class="mb-4">
        Lista
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Count() Registros</h6>
        </div>
          @if (roleClaim == "Administrador" || roleClaim == "Supervisor" || string.IsNullOrEmpty(roleClaim?.ToString()))
          {
        <div class="card-header py-3">
            <a asp-controller="PlanDesarrolloProfesional" asp-action="Index" class="btn btn-secondary btn-block">Regresar</a>
            </div>
        }
        else
        {
            <div class="card-header py-3">
                <a asp-controller="PlanDesarrolloProfesional" asp-action="ListarPorUsuario" class="btn btn-secondary btn-block">Regresar</a>
            </div>
        }
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tabla" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           @*  <th>Plan Desarrollo</th> *@
                            <th>Ruta</th>
                            <th>Rango</th>
                            <th>Requisito</th>
                            <th>Colaborador</th>
                            <th>Evidencia</th>
                            <th>Fecha Obtenida </th>
                            <th>Estado</th>
                            <th>Acciones</th>


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                               @*  <td data-label="Valor1">@item.PlanDesarrolloID</td> *@
                                <td data-label="Valor1">@item.NombreRuta</td>
                                <td data-label="Valor1">@item.NombreRango</td>
                                <td data-label="Valor1">@item.NombreRequisito</td>
                                <td data-label="Valor1">@item.NombreColaborador</td>
                                <td data-label="Valor1">@item.URLEvidencia</td>
                                <td data-label="Valor1">@item.FechaObtencion.ToString("dd/MM/yyyy")</td>
                                <td>

                                    <button class="btn @GetButtonClass(item.AprobadoPorSupervisor)" style="cursor: auto !important;">
                                        @GetButtonLabel(item.AprobadoPorSupervisor)
                                    </button>
                                </td>
                                @if (item.AprobadoPorSupervisor != 0 && item.AprobadoPorSupervisor != 1)
                                {
                                    <td class="text-start" data-label="Acciones">
                                        <div class="dropdown">
                                            <a type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                                Acciones
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="@Url.Action("Modificar", "CumplimientoRequisito", new { CumplimientoRequisitoID = item.CumplimientoRequisitoID })">Modificar</a>
                                                <a onclick="Eliminar(@item.CumplimientoRequisitoID)" href="#" class="dropdown-item" style="color:black;">Eliminar</a>
                                            </div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td></td> <!-- Deja la celda vacía si no se deben mostrar acciones -->
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @using (Html.BeginForm("Eliminar", "CumplimientoRequisito", FormMethod.Post, new { id = "EliminarCumplimientoRequisito" }))
                {
                    <input type="hidden" id="IdObjeto" name="IdObjeto" />
                    @*<input type="hidden" id="Justificacion" name="Justificacion" />*@
                }
            </div>
        </div>
    </div>
</div>
@functions {
    private string GetButtonClass(int status)
    {
        switch (status)
        {
            case 0: return "btn-danger"; // Denegado
            case 1: return "btn-success"; // Aprobado
            case 2: return "btn-secondary"; // En revisión
            default: return "btn-dark"; // No definido
        }
    }

    private string GetButtonLabel(int status)
    {
        switch (status)
        {
            case 0: return "Denegado";
            case 1: return "Aprobado";
            case 2: return "En revisión";
            default: return "No definido";
        }
    }
}




@section Scripts {
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/alertas.js"></script>
    <link href="~/js/datatables.net-bs5/datatables.bootstrap5.css" rel="stylesheet" />
    <script src="~/js/datatables.net-bs5/datatables.bootstrap5.js"></script>



    <script type="text/javascript">


        if ('@ViewBag.Mensaje' == "Eliminado") {
            Swal.fire({
                title: "¡Acción exitosa!",
                text: 'Se ha Eliminado',
                type: "success",
                showconfirmButton: false,
                showCancelButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Agrega") {
            Swal.fire({
                title: "¡Acción exitosa!",
                text: 'Se ha agregado un nuevo requisito al sistema',
                type: "success",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Modifica") {
            Swal.fire({
                title: "¡Acción exitosa!",
                text: 'Se ha modificado el requisito del sistema',
                type: "success",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Error") {
            Swal.fire({
                title: "¡Error!",
                text: 'Error al ejecutar la acción',
                type: "error",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Existe") {
            Swal.fire({
                title: "¡Error!",
                text: 'El usuario ingresado ya existe en el sistema',
                type: "error",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }

        else if ('@ViewBag.Mensaje' == "Incompleto") {
            Swal.fire({
                title: "¡Error!",
                text: 'Datos incompletos, asegurese de llenar todos los datos',
                type: "error",
                showCancelButton: false,
                showconfirmButton: false,
            });
        }
        function Eliminar(RequisitoID) {

            Swal.fire({
                title: "Desea eliminar el Requisito?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Aquí colocas el código que se ejecutará si el usuario hace clic en "Sí, eliminar"
                    $('#IdObjeto').val(RequisitoID);
                    $("#EliminarCumplimientoRequisito").submit();

                } else {
                    // Aquí colocas el código que se ejecutará si el usuario hace clic en "Cancelar" o fuera del cuadro de confirmación
                    Swal.fire("Cancelado", "La Requisito no fue eliminada.", "info");
                }
            });

        }
    </script>
}