@model PlanDesarrolloProfesional.Models.Models.CumplimientoRequisitoViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Modificar Requisitos del Plan Desarrollo";
    var fechaActual = DateTime.Now.ToString("yyyy-MM-dd");
    //List<Contingencia.Models.RolesModel> RolesList = ViewBag.Roles;
    List<PlanDesarrolloProfesional.Models.Models.UsuarioModel> Colaboradores = ViewBag.Colaborador;
    List<PlanDesarrolloProfesional.Models.Models.RutaModel> RutaList = ViewBag.Rutas;
    List<PlanDesarrolloProfesional.Models.Models.RangoModel> RangoList = ViewBag.Rangos;
    List<PlanDesarrolloProfesional.Models.Models.RequisitoModel> RequisitoList = ViewBag.Requisito;
    List<PlanDesarrolloProfesional.Models.Models.RequisitoModel> RequisitosFiltrados = ViewBag.RequisitosFiltrados;

}

<div class="card o-hidden border-0 shadow-lg my-4">
    <div class="card-body col-12">
        <div class="col">
            <div class="p-3">
                <div class="col-sm-9 mb-3 mb-sm-0">
                    <h4 class="mb-4 text-center">Modificar Requisito</h4>
                </div>
            </div>

            <form action="@Url.Action("Modificar", "CumplimientoRequisito")" method="post" enctype="multipart/form-data" class="form">
                @Html.HiddenFor(model => model.CumplimientoRequisitoID)

                <div class="form-group row mt-2">
                    <div class="col-sm-2">
                        <label for="NombreColaborador" class="float-left font-weight-bold h5">Colaborador</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("NombreColaborador", (string)ViewBag.NombreColaborador, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-sm-2">
                        <label for="NombreRuta" class="float-left font-weight-bold h5">Ruta</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("NombreRuta", (string)ViewBag.NombreRuta, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-sm-2">
                        <label for="NombreRango" class="float-left font-weight-bold h5">Rango</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("NombreRango", (string)ViewBag.NombreRango, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>


                <div class="form-group row mt-2">
                    <div class="col-sm-2">
                        <label for="Requisitos" class="float-left font-weight-bold h5">Requisitos</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.RequisitoSeleccionado, new SelectList(ViewBag.RequisitosFiltrados, "RequisitoID", "NombreRequisito"), "Selecciona un Requisito", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(model => model.RequisitoSeleccionado, "")
                    </div>
                </div>

                <div class="form-group row  mt-2">
                    <div class="col-sm-2">
                        <label for="FechaObtencion" class="float-left font-weight-bold h5">Fecha de Obtención</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.FechaObtencion, new { htmlAttributes = new { @class = "form-control rounded-3 border border-info"} })
                        @Html.ValidationMessageFor(model => model.FechaObtencion, "")
                        @* <input asp-for="FechaObtencion" type="date" class="col-12 form-control" value="fechaActual" /> *@
                        <span asp-validation-for="FechaObtencion" class="col-12 text-danger"></span>
                    </div>
                </div>

                <div class="form-group row  mt-2">
                    <div class="col-sm-2">
                        <label for="URLEvidencia" class="float-left font-weight-bold h5">URL Evidencia</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.URLEvidencia, new { htmlAttributes = new { @class = "form-control rounded-3 border border-info" } })
                        @Html.ValidationMessageFor(model => model.URLEvidencia, "")
                        @* <input asp-for="URLEvidencia" type="text" class="col-12 form-control" /> *@
                        <span asp-validation-for="URLEvidencia" class="col-12 text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-2" style="display:none;">
                    <div class="col-sm-2">
                        <label for="FechaArpobacion" class="float-left font-weight-bold h5">Fecha de Aprobación</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.FechaArpobacion, new { htmlAttributes = new { @class = "form-control rounded-3 border border-info" } })
                        <span asp-validation-for="FechaArpobacion" class="col-12 text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-sm-6">
                        <!-- Div para el primer botón -->
                        <button class="btn btn-primary btn-block" type="submit">Modificar</button>
                    </div>
                    <div class="col-sm-6">
                        <!-- Div para el segundo botón -->
                        <button class="btn btn-secondary btn-block" type="button" onclick="history.back();">Regresar</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>