@model PlanDesarrolloProfesional.Models.Models.RangoModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Crear Rango";
    List<PlanDesarrolloProfesional.Models.Models.RutaModel> RutaList = ViewBag.Ruta;
    //List<Contingencia.Models.RutaesModel> RutaesList = ViewBag.Rutaes;

}

<div class="card o-hidden border-0 shadow-lg my-4">
    <div class="card-body col-12">
        <!-- Nested Row within Card Body -->
        <div class="col">
            <div class="p-3">

                <div class="form-group row">
                    <div class="col-sm-9 mb-3 mb-sm-0">
                        <h4 class="mb-4">Agregar Rango del sistema</h4>
                    </div>
                </div>
            </div>

            <form action="@Url.Action("Agregar","Rango")" method="post" enctype="multipart/form-data" class="form">


                @*  <br />
                <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                <label for="Tipo">Rango</label>
                <div class="col-6">
                @Html.DropDownListFor(m => m.Tipo, new SelectList(RutaesList, "Codigo", "Nombre"), "Seleccione el Rango:", new { @class = "float-right form-contRuta", @id = "Rango" })
                @Html.ValidationMessageFor(model => model.Tipo, "")
                <input hidden value="@Model.Tipo" name="Tipo" id="Tipo" />
                <span asp-validation-for="Tipo" class="col-12 text-danger"></span>
                </div>
                </div>
                </div>
                <br />
                <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                <label for="Tipo">Plantel</label>
                <div class="col-6">
                @Html.DropDownListFor(m => m.FKPlantel, new SelectList(PlantelesList, "Codigo", "Descripcion"), "Seleccione el plantel:", new { @class = "float-right form-contRuta", @id = "Plantel" })
                @Html.ValidationMessageFor(model => model.FKPlantel, "")
                <input hidden value="@Model.FKPlantel" name="FKPlantel" id="FKPlantel" />
                <span asp-validation-for="FKPlantel" class="col-12 text-danger"></span>
                </div>
                </div>
                </div>*@


                <br />
                @* <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                <label for="Nombre">Nombre</label>
                <div class="col-6">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new {@class="form-contRuta rounded-3 border border-info"}})
                <input hidden value="@Model.Nombre" name="Nombre" id="Nombre" />
                </div>
                </div>
                </div>*@
                <div class="form-group row">
                    <div class="col-sm-2"><label class="float-left font-weight-bold h5">Nombre del Rango</label></div>
                    <div class="col-sm-4">
                        <input asp-for="NombreRango" type="text" class="col-12 form-contRuta" />
                        <span asp-validation-for="NombreRango" class="col-12 text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-2"><label class="float-left font-weight-bold h5">Descripción del Rango</label></div>
                    <div class="col-sm-4">
                        <input asp-for="Descripcion" type="text" class="col-12 form-contRuta" />
                        <span asp-validation-for="Descripcion" class="col-12 text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-2"><label class="float-left font-weight-bold h5">Ruta</label></div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.RutaID, new SelectList(RutaList, "RutaID", "NombreRuta"), "Seleccione el ruta:", new { @class = "float-right form-control form-select" })
                    </div>
                </div>



                <br />
                <br />
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <div class="row center-align">
                            <div class="col-sm-6">
                                <!-- Div para el primer botón -->
                                <button class="btn btn-primary btn-block" type="submit">Agregar &nbsp;<i class="fas fa-fw fa-plus"></i></button>
                            </div>
                            <div class="col-sm-6">
                                <!-- Div para el segundo botón -->
                                <a class="btn btn-secondary btn-block" asp-contRutaler="Rango" asp-action="Index">Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}